
.collapsablecontainer {
   /*  width:100%; */
    border:1px solid #d3d3d3;
}
.collapsablecontainer div {
    /* width:100%; */
}

.collapsablecontainer .collapsableheader {
    /* background-color:#d3d3d3; */ 
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}

.collapsablecontainer .collapsablecontent {
    display: none;
    padding : 5px;
}

.clickable{
	cursor: pointer;
    font-weight: bold;
}